<div class="weather">
	<div class="clock">
	    <div id="Date"></div>
		<br>
		<ul>
	    	<li id="hours"></li>
	        <li id="point">:</li>
	        <li id="min"></li>
	        <li id="point">:</li>
	        <li id="sec"></li>
	    </ul>
	</div>

	<br><br>
	<div class="metric-label">
		<span class="location data">{{location}}</span>
	</div>
	<br><br>
	<div class="metric-stat">
	    {{temperature}}&deg;<span class="unit {{unitClass}}">{{unit}}</span><span> {{condition}}</span>
	</div>
	<br><br>
	<div class="metric-forecast">
	    {{forecast_1.day}}<span>    High {{forecast_1.high}}&deg;{{unit}}</span><span>    Low {{forecast_1.low}}&deg;{{unit}}</span>
	    <span>    {{forecast_1.text}}</span>
	    <br>
	    {{forecast_2.day}}<span>    High {{forecast_2.high}}&deg;{{unit}}</span><span>    Low {{forecast_2.low}}&deg;{{unit}}</span>
	    <span>    {{forecast_2.text}}</span>
	    <br>
	    {{forecast_3.day}}<span>    High {{forecast_3.high}}&deg;{{unit}}</span><span>    Low {{forecast_3.low}}&deg;{{unit}}</span>
	    <span>    {{forecast_3.text}}</span>
	</div>
	
</div>